@media (max-width: 2400px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgb(153, 218, 238), rgb(255, 255, 194));
  }

  .container {
    width: 95%;
  }

  .b1 {
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 100px;
    border-radius: 30px;
    padding: 5px 40px 50px 40px;
    text-align: center;
    width: fit-content;
  }
  @keyframes example {
    from {
      background-color: #3fcbc8;
    }
    to {
      background-color: rgb(223, 223, 158);
    }
  }
  #Company_Button {
    font-family: "Times New Roman", Times, serif;
    margin-top: 15px;
    background-color: #3fcbc8;
    color: #375f6d;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(151, 153, 20, 0.51);
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  #Form_2 {
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    background-color: #e0ffff;
    display: grid;
    place-items: center;
    margin-top: 50px;
    box-shadow: 0 0 12px rgb(182 182 182 / 51%);
    border-radius: 10px;
    padding: 0px 50px 30px 50px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  #ip_Name {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 200px;
    background: #edf0f3;
    padding: 5px 30px 5px 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  #ip_Description {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 200px;
    background: #edf0f3;
    padding: 5px 30px 5px 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  #ip_Phone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 200px;
    background: #edf0f3;
    padding: 5px 30px 5px 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  #ip_Email {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 200px;
    background: #edf0f3;
    padding: 5px 30px 5px 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  .closeButton {
    width: 30px;
    height: 30px;
    margin-top: 25px;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    float: right;
    padding: 5px;
  }
  #b2 {
    font-family: "Times New Roman", Times, serif;
    background-color: #4bc7c7;
    border-radius: 10px;
  }

  .lower_button {
    height: 5px;
    width: 200px;
  }

  .reset {
    font-family: "Times New Roman", Times, serif;
    margin-top: 15px;
    background-color: #4bc7c7;
    color: black;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
  }

  .add {
    font-family: "Times New Roman", Times, serif;
    margin-top: 15px;
    background-color: #4bc7c7;
    color: black;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
  }

  .bordering {
    border: 20px solid;
    border-image: url("../../assets/border.svg") 15% round;
  }
}
