* {
  box-sizing: border-box;
}
.top-Nav {
  width: 100%;
  height: 70px;
  background-color: #263942;
}
.img_1 {
  width: 30px;
  height: 30px;
  margin: 20px 0px 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  float: left;
  padding: 5px;
}

.img_2 {
  width: 30px;
  height: 30px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  float: right;
  padding: 5px;
}
