@media (max-width: 2400px) {
  * {
    box-sizing: border-box;
  }

  .sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 1000pc;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    border-right: 1px solid black;
    padding: 10px;
    background-color: #263942;
  }

  .link-img {
    height: 30px;
    width: 30px;
    margin: auto;
    display: flex;
    filter: invert(1) sepia(1) saturate(0) hue-rotate(175deg);
  }

  .logo {
    height: 50px;
    width: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
